*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    font-size: 4rem;
    margin-bottom: .25em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    position: absolute;
}

.chessBoard {
    border:1px solid black;
    position: relative;
}

.row {
    display: flex;
}

.indexContainer {
    display: flex;
    margin-left: 5vmin;
    gap: 3vmin;

    position: relative;
    right: 0;
    text-align: center;
}

.coordContainer {
    display: flex;
    flex-direction: column;
    gap:.5rem;
}

.coord {
    min-height: 1.25rem;
}

.pathHeader {
    font-weight: 900;
}

.random {
    background-color: white;
    border: 1px solid black;
    width: 100%;
}

.knight {
    position: absolute;
    left:-6.5rem;
    top:.5rem;
    z-index: 1;
    /* +6 rem per tile movement */
    /* centering: tile=6x6rem, 6-5rem(Knight is 5x5rem) = 1rem/2 = .5 rem */
    height: 5rem;
    width: 5rem;

    transition-property: left,top;
    transition-duration: 1s;
}

.tile {
    min-width: 6rem;
    min-height: 6rem;

    font-size: 2.25rem;
    
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1.5px black;
    paint-order: stroke;
}

.start,.startIndex {
    border: 3px solid red;
    color: red;
}

.end,.endIndex {
    border: 3px solid rgb(23, 197, 0);
    color: rgb(23, 197, 0);
}

.start,.end {
    font-size: 1.5rem;
}

.row:nth-child(even) div:nth-child(even) {
    background-color: black;
}

.row:nth-child(odd) div:nth-child(odd){
    background-color: black;
}